* {
	margin: 0;
	padding: 0;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

html {
	background-color: #001a33;
}

#rules {
	background-color: #99ccff;
	position: relative;
	height: auto;
	width: 95%;
	margin: 20px auto;
	border-radius: 40px;
	box-shadow: 5px 7px 5px 5px rgba(0, 26, 51, 0.5);
	padding: 2px 50px 50px 50px;
}

#round1, #round2, #round3, #generalRules{
	position: relative;
	text-align: center;
	font-size: 60px;
	background-color: #e6f3ff;
	color: #001a33;
	border-radius: 40px;
	margin: 30px 10px 30px 10px;
	padding: 2px 0px;
}


#homepageButton {
	position: relative;
	background-color: #595959;
	color: white;
	width: 230px;
	padding: 7px;
	border-radius: 50px;
	font-size: 28px;
	font-weight: 900;
	font-family: serif;
	margin: 5px 0px 25px 10px;
	border: 1px solid grey;
	text-align: center;
	box-shadow: 2px 2px 0px 0px rgba(191,191,191,0.5);
}

#homepageButton:hover {
	cursor: pointer;
	background-color: #808080;
}
}